*{
   margin: 0px;
   font-family: 'Open Sans', sans-serif;
}

section{
   margin-top: 130px;
}
/* heder and navigation style */
header{
   background:#fff8f3;
   background-image: url('../images/banner.jpg');
   background-repeat: no-repeat;
   background-position: bottom right;
   margin-top: -44px;
   background-size: 100%;
}
nav{
   display:flex;
   justify-content: space-between;
   padding:51px 200px;
  
}
.nav_title{
   font-weight: 800;
   font-size: 30px;
   color: #ffffff;
 
   /* margin-left: 260px; */
}
.text-primary{
   color:#ff5200
}
.btn-primary{
   background-color: #FD6E0A;
   color:#ffffff;
   border-radius: 6px;;
   height:64px;
   font-size: 20px;
   font-weight: 700;
   border:none;
   padding: 18px 30px;

}
.outline-btn-primary{
   color:#FD6E0A;
   border-radius: 5px;;
   height:64px;
   font-size: 20px;
   font-weight: 700;
   border:2px solid #FD6E0A;
   padding: 20px 25px;
   background:none
}

nav ul{
display:flex; 
margin-left: 50px;
align-items: center;
color: #ffffff;
}
nav ul li{
   list-style: none;
   margin-left:20px;
   background: ;
}


/* banner style */
.banner{
   display: flex;
   align-items: center;
   margin: 0 200px;
   color:#ffffff
   
}

.banner-title{
   font-weight: 700;
   font-size: 65px;
   
}
.banner-sub-title{
   font-weight: 600;
   font-size: 45px;
   margin-bottom: 20px;
   

}
.banner-description{
   color:#f3cfcf;
   font-size: 18px;
   margin-bottom: 30px;
   
}
.banner img{
   margin-bottom:0px;
   margin-right:-200px;
   width:2000px;

}
.banner button{
   margin-bottom:60px
}

/* main section */
main{
   max-width: 1040px;
   margin: 0 auto;
}




/* My failures of previous year */

.failues-previous{
	display:flex;
	gap:10px
}
.failues-first-box{
	
	background:#ffeaea;
	border-radius:50%;
	width:400px;
	margin-left:10px;

	height:390px


}
.failues-first-box img{
	margin-left:-110px;
	margin-bottom:-5px;
	height:1000p
	
}
.failues-secone-box{
	margin-left:50px;

}
.failues-secone-box-title{
	
	margin-top:50px;
	width:300px;
	font-size:40px;
	font-weight: 800;
	margin-bottom:10px
}
.failues-secone-box-description{
	margin-bottom:10px;
	width:400px;
	text-align: justify;
   color:#655a5a
	
}
.failues-secone-box-description i{
	color:lightgreen
	margin-right:10px;
	
}


   





#whychoosUs{
	background:url(../images/bac.png);
	width:100%;
	display:block;
   background-size: 100%;
}
.maneiconWrapper{
	overflow:hidden;
   width: 1040px;
   margin: auto;
	
}

.iconWrapper{
   display: flex;
}

.singleIconbox{
	width:400px;
	cursor:pointer;
	margin-top:50px;
	margin-bottom:50px;
   margin-left:10px;
   text-align: center;
	

  
   
}
.singleIconbox h1{
	font-size:30px;
	color:#c1b5b5;
	font-weight:bold;
	width:60px;
	margin-top:1px;
   margin: auto;
}

.singleIconbox p{
	font-size:18px;
	font-weight:900;
	color:#c1b5b5;
	margin-top:10px
}

.Sicon{
	font-size:35px;
	color:#ffffff;
	width:50px;
   margin: auto;
   margin-bottom: 40px;
}






/* MY PLAN style */

.my-plans-title{
	text-align:center;
	margin-bottom:60px;
	font-size:45px;
   font-weight: 800;
	
}
.my-plans-singlebox-wrepar{
	display:flex;
	gap:70px;
	margin-left:80px
	 
	
}
.my-plans-singlebox img{
	
	margin-left:30px
}

.my-plans-singlebox-title{

	font-weight: 800px;
	text-align:center
}
.my-plans-singlebox-description{
	text-align:center
   
}




/*  shedo section style */


.bag-sheduo{
   background-image: url('../images/bac.png'),url(../images/gradient2.png);
   background-size: 100%,100%;
	padding:20px;
 opacity: 0.9;
}
.bag-sheduo h3{
	color:white;
	margin-top:50px;
	margin-bottom:25px;
}
.bag-sheduo button{
	width:130px;
	padding:10px;
	border:0px;
	border-radius:5px;
	margin-bottom:40px;
   font-size:25px;
   font-weight: 800;
   color:#ff5200

} 


/* footer style */
footer{
	background:#270101;
	color:white;
   padding:50px 0;
	margin-top:60px
}
.footer-section{

	width:1140px;
	display:flex;
	margin:auto;
	gap:50px;
	padding:10px;
   
}
.footer-first-title{
	font-size:45px;
	font-weight:900;
	color:#fffff;
	margin-bottom:20px;
}
	
.foter-description{
	font-size:15px;
	color:#ffffffc7;
	margin-bottom:40px
}

.footer-contac{
	margin-bottom:20px
	font-size:15px;
	color:#ffffffc7;
	margin-bottom:10px
}
.footer-btn-email{
	margin-right:190px
}
.footer-seconde-title{
	font-size:35px;
	margin-bottom:20px;
}
.footer-section input{
	height:30px;
	width:300px;
	background:none;
	color:#fffffff;
	margin-top:20px;
	border:1px solid white;
	margin-bottom: 30px;
	padding:5px
}
.footer-section img{

   margin-right:10px;
	width:20px;
	border-radius:50%;
   background: white;
   padding: 5px;
   cursor: pointer;
}





